<FlatfileProvider
  @licenseKey={{@licenseKey}}
  @customer={{@customer}}
  @settings={{@settings}}
  @onCancel={{@onCancel}}
  @onInteractionEvent={{@onInteractionEvent}}
  @onBeforeFetch={{@onBeforeFetch}}
  @onData={{@onData}}
  @onRecordInit={{@onRecordInit}}
  @onRecordChange={{@onRecordChange}}
  @fieldHooks={{@fieldHooks}}
  @mountUrl={{@mountUrl}}
  @preload={{@preload}}
  as | flatfile |>
  <button
    type="button"
    ...attributes
    {{on "click" flatfile.open}}>
    {{yield (hash
      isLoading=flatfile.state.isLoading
      isReady=flatfile.state.isReady
    )}}
  </button>
</FlatfileProvider>
